# editor files
*~
\#*\#

# python bytecode
*.py[co]
__pycache__/

# install artifacts
/build
/dist
/*.egg-info

# tools
.ipynb_checkpoints/
.hypothesis/
.pytest_cache
.coverage
.coverage.*
.cache
/docs/_build/
localconfig.yml
.idea
